@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: "Mona Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1117;
  margin: 0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010409;
  padding: 1em;
  border-bottom: gray;
  border-style: solid;
  border-width: 1px;
}

#header a {
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

#header a:hover {
  background-color: #151b23;
}

#header img {
  color: white;
  margin-left: 1em;
  margin-right: 1em;
}

.slider {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.6s ease;
}

.slide {
  width: 100%;
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

/* Slide rörelse */

#s1:checked ~ .slides {
  transform: translateX(0);
}

#s2:checked ~ .slides {
  transform: translateX(-100%);
}

#s3:checked ~ .slides {
  transform: translateX(-200%);
}

/* Punkter */

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dots label {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"] {
  background: #333;
}














































































































.category {

display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column; 
align-items: center;
margin: 2rem auto;
max-width: 700px;
width: 90%;
gap: 12px;
border-radius: 16px;
border: 1px solid #30363d;
transition: transform 0.2s;
background-color: #0d1117;
color: white;
}

.category input {

  width: 20px;
  height: 20px;
  accent-color: #333;

}

.category input:hover {
  cursor: pointer;
}

.item {
  display: flex;
  flex: 1;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-top: -1rem;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.03);
}

.items {
  display: flex;
  gap: 16px;
  align-items: stretch;
  flex-direction: row;
}

/* ARTICLE CARDS */

.article-selection-section {
    --card-width: 150px;
    --card-height: 250px;
    --card-gap: 20px;
    --cards-per-row: 3;
    padding: 10px;
}
.category-selector-placeholder {
    width: 700px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.card-container.disable-fade::before {
    display: none;
}

.card-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(var(--card-height) * 0.35);
    background: linear-gradient(
            to bottom,
            rgba(61,68,77,0),
            rgba(61,68,77,0.8),
            rgba(61,68,77,1));
    z-index: 1;
    pointer-events: all;
}
.card-container {
    width: calc(var(--card-width) * var(--cards-per-row) + (var(--cards-per-row) * var(--card-gap) * 3));
    max-height: calc(var(--card-height) * 1.5);
    transition: max-height 300ms ease;
    margin: 0 auto;
    display: grid;
    position: relative;
    padding-top: 10px;
    padding-bottom: 16px;
    grid-template-columns: repeat(var(--cards-per-row), var(--card-width));
    gap: calc(var(--card-gap) * 2);
    justify-content: center;
    overflow-y: hidden;
}

.article-card:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,0.40),
    rgba(0,0,0,0.70),
    rgba(0,0,0,0.8));
    pointer-events: none;
}
.article-card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 200ms ease;
    cursor: pointer;
}
.article-card p {
    position: relative;
    color: azure;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.45);
}
.show-more-btn {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background: black;
    color: azure;
    font-size: 14px;
    font-weight: bold;
    border-radius: 1000px;
    cursor: pointer;
    transition:
            background 200ms ease,
            transform 200ms ease,
            box-shadow 200ms ease;

    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.show-more-btn:disabled {
    background: #555;
    color: #aaa;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    pointer-events: none;
}
.show-more-btn:not(:disabled):hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.show-more-btn:not(:disabled):active {
    transform: translateY(0px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

/* ARTICLE CARDS */

/* OPENED ARTICLE */

#opened-article {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    color: white;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5em;
    background-color: #30363d;
    padding: 2em;
    border-radius: 10px;
}

#opened-article img {
  max-width: 30%;
  max-height: 30%;
}